{inc:header.htm}
<div class="m">
	<div class="head">
		<dl>
			<input id="add" type="button" value="发布" class="but1" />
			<dt style="display:inline;float:left">{$category_cid}</dt>
		</dl>
	</div>

	<div class="p c2">
		<div class="cc" id="">
			{if:empty($cms_content_arr)}<div class="sky warning bnote"><i></i><b>暂无内容</b></div>{else}
			<table class="tb2">
				<tr class="tit">
					<th class="th" width="25"><input type="checkbox" id="check_all"></th>
					<th class="th">标题</th>
					<th class="th" width="110">作者</th>
					<th class="th" width="100">评论数</th>
					<th class="th" width="150">发布时间</th>
					<th class="th" width="150">操作</th>
				</tr>

				{loop:$cms_content_arr $v}
				<tr class="li">
					<td class="col"><input type="checkbox" name="chk_row" value="{$v[id]}"></td>
					<td class="col">{$v[title]}</td>
					<td class="col">{$v['author']}</td>
					<td class="col">{$v[comments]}</td>
					<td class="col">{php} echo date('Y-m-d H:i:s', $v['dateline']);{/php}</td>
					<td class="col">
						<a class="but3" href="javascript:edit({$v[id]});">编辑</a>
						<a class="but3" href="../index.php?show--cid-{$v[cid]}-id-{$v[id]}" target="_blank">查看</a>
						<a class="but3 del" href="javascript:del({$v[id]}, {$v[cid]});">删除</a>
					</td>
				</tr>
				{/loop}
			</table>

			<div class="page cf"><span>共 <font color="red">{$total}</font> 篇</span>{$pages}</div>
			{/if}
		</div>
	</div>
</div>
<script type="text/javascript">
$("#add").click(function(){
	parent.parent.oneTab("?u=content-add", true);
});

$("#cid").change(function(){
	location.href = "?u=content-index-cid-"+ $(this).val();
});

</script>
</body>
</html>
