{inc:header.htm}
<div class="m">
	<div class="p">
		<style type="text/css">
		.left{width:70%;float:left}
		.right{width:29%;float:right}
		#tw_pic_img{border:1px solid #ccc;padding:3px;border-radius:5px}

		#tw_dropbox{width:100%;min-height:120px;padding-bottom:5px;border:3px dashed #E5E5E5}
		#tw_dropbox .d_li{width:120px;height:120px;float:left;margin:5px 0 0 5px;border:1px solid #ccc}
		#tw_dropbox .d_li .d_img{height:100px;overflow:hidden}
		#tw_dropbox .d_li .d_img img{display:block;margin:auto}
		#tw_dropbox .d_li .d_txt textarea{display:block;width:118px;height:18px;overflow:hidden;border:none;border-top:1px solid #ccc}
		#tw_imgup div{font:14px/18px helvetica,arial,sans-serif;padding-top:20px;text-align:center;color:#D30D12}

		#tw_pic_upfile,#tw_img_upfile{display:none;opacity:0.2;filter:alpha(opacity=20);border:1px solid red}
		.picimg img{height:100px}
		.picbut{margin-top:10px}

		#imgs{display:none}
		.w98{width:98%}
		.tl .th{width:50px}
		</style>

		<form id="article_add" action="?u=article-add-ajax-1" method="post">
		<input name="id" type="hidden" />
		<input name="color" type="hidden" />
		<input name="seo_title" type="hidden" />
		<div class="cc">
			<table><tr valign="top">
				<td><table class="tb tl">
					<tr>
						<th class="th"><b>*</b>分类</th>
						<td class="col">
							{$cidhtml}
						</td>
					</tr>
					<tr>
						<th class="th"><b>*</b>标题</th>
						<td class="col"><input name="title" type="text" value="" class="inp w98" /></td>
					</tr>
					<tr>
						<th class="th"><b>*</b>内容</th>
						<td class="col"><textarea id="content" class="inp w98" name="content"></textarea></td>
					</tr>
					<tr>
						<th class="th">别名</th>
						<td class="col"><input name="alias" type="text" value="" class="inp w1" /></td>
					</tr>
					<tr>
						<th class="th">标签</th>
						<td class="col"><input name="tags" type="text" value="" class="inp w1" /></td>
					</tr>
					<tr>
						<th class="th">摘要</th>
						<td class="col">
							<textarea name="intro" class="inp w98" style="height:60px" titile="如果不填，程序自动生成摘要" maxlength="255"></textarea>
						</td>
					</tr>
					<tr>
						<th class="th"></th>
						<td class="col"><input type="submit" value="&#20445;&#23384;" class="but1" style="margin:0" /></td>
					</tr>
				</table></td>
				<td width="398"><table class="tb">
					<tr>
						<th class="th">缩略图</th>
						<td class="col">
							<input id="tw_pic_val" name="pic" type="hidden" />
							<div class="picimg"><img id="tw_pic_img" src="../static/img/nopic.gif" /></div>
							<div class="picbut"><a id="tw_pic_but" class="but3" href="javascript:;">上传缩略图</a></div>
						</td>
					</tr>
					<tr>
						<th class="th">属性</th>
						<td class="col">
							<label><input class="mr3" name="flag[]" type="checkbox" value="1">推荐</label>
							<label><input class="mr3" name="flag[]" type="checkbox" value="2">热点</label>
							<label><input class="mr3" name="flag[]" type="checkbox" value="3">头条</label>
							<label><input class="mr3" name="flag[]" type="checkbox" value="4">精华</label>
							<label><input class="mr3" name="flag[]" type="checkbox" value="5">幻灯</label>
						</td>
					</tr>
					<tr>
						<th class="th">作者</th>
						<td class="col"><input name="author" type="text" value="{$_user['username']}" class="inp w1" /></td>
					</tr>
					<tr>
						<th class="th">来源</th>
						<td class="col"><input name="source" type="text" value="" class="inp w1" /></td>
					</tr>
					<tr>
						<th class="th">发布时间</th>
						<td class="col"><input name="dateline" type="text" value="{php} echo date('Y-m-d H:i:s', $_ENV['_time']);{/php}" class="inp w1" /></td>
					</tr>
					<tr>
						<th class="th">浏览次数</th>
						<td class="col"><input name="views" type="text" value="0" class="inp w1" /></td>
					</tr>
					<tr>
						<th class="th">禁止评论</th>
						<td class="col"><input name="iscomment" type="checkbox" value="1"></td>
					</tr>
					<tr>
						<th class="th">SEO关键字</th>
						<td class="col"><input name="seo_keywords" type="text" value="" class="inp w1" /></td>
					</tr>
					<tr>
						<th class="th">SEO描述</th>
						<td class="col"><input name="seo_description" type="text" value="" class="inp w1" /></td>
					</tr>
				</table></td>
			</tr></table>
		</div>
		</form>
	</div>
</div>


<iframe name="tw_upifr" style="display:none"></iframe>
<form id="tw_pic_upform" target="tw_upifr" method="post" enctype="multipart/form-data" action="?u=attach-upload_image&type=pic">
	<input id="tw_pic_upfile" type="file" name="upfile" accept="image/jpg,image/jpeg,image/png,image/gif" />
</form>
<form id="tw_img_upform" target="tw_upifr" method="post" enctype="multipart/form-data" action="?u=attach-upload_image&type=img">
	<input id="tw_img_upfile" type="file" name="upfile" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="multiple" />
</form>

<script type="text/javascript">
// 默认无编辑器
window.editor_init = function(){
	// 编辑器API
	window.editor_api = {
		// 内容
		content : {
			obj : $('#content'),
			get : function() {
				return this.obj.val();
			},
			set : function(s) {
				return this.obj.val(s);
			},
			focus : function() {
				return this.obj.focus();
			}
		}
	}
}

// 传统上传缩略图
document.getElementById("tw_pic_upfile").onchange = function() {
	document.getElementById("tw_pic_upform").submit();
};

// 设置显示缩略图 (iframe使用)
function setDisplayPic(path, thumb) {
	$("#tw_pic_val").val(thumb);
	$("#tw_pic_img").attr("src", "../"+thumb);
}

// 定位缩略图上传按钮
function setPicBut() {
	var obj = $("#tw_pic_but"),
		p = obj.position(),
		w = obj.outerWidth(true),
		h = obj.outerHeight(true),
		r = $(document).width() - w - p.left;
	$("#tw_pic_upfile").hover(function(){
		obj.addClass("but_on");
	}, function(){
		obj.removeClass("but_on");
	}).show().css({"position":"absolute", "top":p.top, "right":r, "width":w, "height":h});
}

$(function(){
	setPicBut();
});

// 提交表单
twAjax.submit("#article_add:first", function(data){
	twAjax.alert(data);
	if(window.twData.err==0) {
		//var temp = $("#cid").val();
		//$(this)[0].reset(); //重置表单
		//editor_api.content.set("");
		//$("#cid").val(temp);
	}
});
</script>

{hook:admin_content_add_after.htm}

</body>
</html>
