{inc:header.htm}
<div class="m">
	<div class="p c1">
		<style type="text/css">
		.left{width:70%;float:left;}
		.right{width:29%;float:right;}
		</style>

		<div class="cc" id="">
			<form action="?u=content-add-ajax-1" method="post">
				<input name="id" type="hidden" value="" class="inp w1" />
				<input name="color" type="hidden" value="" class="inp w1" />
				<input name="seo_title" type="hidden" value="" class="inp w1" />
				<div class="left">
					<table class="tb">
						<tr>
							<th><b>*</b>分类</th>
							<td>
								{$category_cid}
							</td>
						</tr>
						<tr>
							<th><b>*</b>标题</th>
							<td><input name="title" type="text" value="" class="inp w1" /></td>
						</tr>
						<tr>
							<th>别名</th>
							<td><input name="alias" type="text" value="" class="inp w1" /></td>
						</tr>
						<tr>
							<th><b>*</b>图集</th>
							<td><textarea name="images" class="inp w3"></textarea></td>
						</tr>
						<tr>
							<th><b>*</b>内容</th>
							<td><textarea id="content" name="content"></textarea></td>
						</tr>
						<tr>
							<th>摘要</th>
							<td><textarea name="intro" class="inp w3"></textarea></td>
						</tr>
					</table>
				</div>
				<div class="right">
					<table class="tb">
						<tr>
							<th></th>
							<td><input type="submit" value="&#20445;&#23384;" class="but1" /></td>
						</tr>
						<tr>
							<th>图片</th>
							<td><input name="pic" type="text" value="" class="inp w1" /></td>
						</tr>
						<tr>
							<th>标签</th>
							<td><input name="tags" type="text" value="" class="inp w1" /></td>
						</tr>
						<tr>
							<th>作者</th>
							<td><input name="author" type="text" value="{$_user['username']}" class="inp w1" /></td>
						</tr>
						<tr>
							<th>来源</th>
							<td><input name="source" type="text" value="" class="inp w1" /></td>
						</tr>
						<tr>
							<th>发布时间</th>
							<td><input name="dateline" type="text" value="{php} echo date('Y-m-d H:i:s', $_ENV['_time']);{/php}" class="inp w1" /></td>
						</tr>
						<tr>
							<th>浏览次数</th>
							<td><input name="views" type="text" value="0" class="inp w1" /></td>
						</tr>
						<tr>
							<th>禁止评论</th>
							<td><input name="iscomment" type="checkbox" value="1"></td>
						</tr>
						<tr>
							<th>SEO关键字</th>
							<td><input name="seo_keywords" type="text" value="" class="inp w1" /></td>
						</tr>
						<tr>
							<th>SEO描述</th>
							<td><input name="seo_description" type="text" value="" class="inp w1" /></td>
						</tr>
					</table>
				</div>

			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
twAjax.submit("form:first", function(data){
	twAjax.alert(data);
	if(window.twData.err==0) {
		//var temp = $("#cid").val();
		//$("form:first")[0].reset(); //重置表单
		//editor_api.content.set("");
		//$("#cid").val(temp);
	}
});

// $("form:first").submit(function(){
// 	twAjax.post($(this).attr("action"), $(this).serialize());
// 	return false;
// });

// 编辑器接口
var editor_api = {
	// 内容
	content : {
		obj : {},
		get : function() {},
		set : function(s) {},
		focus : function() {}
	}
}

// 默认无编辑器
function editor_init(){
	editor_api = {
		// 内容
		content : {
			obj : $('#content'),
			get : function() {
				return this.obj.val();
			},
			set : function(s) {
				return this.obj.val(s);
			},
			focus : function() {
				return this.obj.focus();
			}
		}
	}
}
</script>

{hook:admin_content_add_after.htm}

</body>
</html>
