	{loop:$nav_arr $v $k}
		<div class="list" _cid="{$v[cid]}" _rank="1" _key="{$k}">
			<ul class="cf">
				<li class="nav_l">
					<input type="text" class="inp name" value="{$v[name]}">
					<input type="checkbox" class="check_box"{if:isset($v['target']) && $v['target'] == '_blank'} checked="checked"{/if} title="新窗口打开">
				</li>
				<li class="nav_c">
					{if:empty($v[cid])}<input type="text" class="inp url" value="{$v[url]}">{/if}
				</li>
				<li class="nav_r">
					<a class="but2 del" onclick="nav_del(this)" href="javascript:;">删除</a>
					<a class="but2" target="_blank" href="{$v[url]}">查看</a>
				</li>
			</ul>
			<div class="nav_transport"></div>
		</div>

		{loop:$v[son] $v2 $k2}
		<div class="list nav_rank_2" _cid="{$v2[cid]}" _rank="2" _key="{$k}-{$k2}">
			<ul class="cf">
				<li class="nav_l">
					<input type="text" class="inp name" value="{$v2[name]}">
					<input type="checkbox" class="check_box"{if:isset($v2['target']) && $v2['target'] == '_blank'} checked="checked"{/if} title="新窗口打开">
				</li>
				<li class="nav_c">
					{if:empty($v2[cid])}<input type="text" class="inp url" value="{$v2[url]}">{/if}
				</li>
				<li class="nav_r">
					<a class="but2 del" onclick="nav_del(this)" href="javascript:;">删除</a>
					<a class="but2" target="_blank" href="{$v2[url]}" cid="{$v2[cid]}">查看</a>
				</li>
			</ul>
			<div class="nav_transport"></div>
		</div>
		{/loop}
	{/loop}
