
{loop:$category_arr $arr $mid}
<div class="category">
	<dl class="cat_tit">
		<dd class="cat_t_1">　{php} echo $mod_arr[$mid];{/php}分类</dd>
		<dd class="cat_t_2">分类别名</dd>
		<dd class="cat_t_3">分类排序</dd>
		<dd class="cat_t_4">内容数量</dd>
	</dl>

	{loop:$arr $v}
	<dl class="cat_col" cid="{$v[cid]}" mid="{$v[mid]}">
		<dd class="cat_c_1">
			<div class="c_name" title="{$v[name]}">
			{php}
				echo str_repeat("　", $v['pre']);
				if($v['mid'] == 1) {
					echo '<span class="mtype">单页</span>';
				}elseif($v['type'] == 1) {
					echo '<span class="mtype type1">频道</span>';
				}else{
					echo '<span class="mtype">列表</span>';
				}
			{/php}
			{$v[name]}
			</div>
		</dd>
		<dd class="cat_c_2"><div class="c_alias" title="{$v['alias']}">{$v['alias']}</div></dd>
		<dd class="cat_c_3"><input name="orderby" value="{$v[orderby]}" type="number" class="inp wnum"></dd>
		<dd class="cat_c_4">{php} if($v['mid'] != 1 && $v['type'] != 1) echo $v['count'];{/php}</dd>
	</dl>
	{/loop}
</div>
{/loop}
