{inc:header.htm}
<div class="m">
	<div class="p c1">
		<div class="cc">
			<form action="?u=setting-seo-ajax-1.html" method="post">
				<div class="tb_t">SEO设置</div>
				<table class="tb">
					<tr>
						<th>SEO标题</th>
						<td>{$input[seotitle]}</td>
					</tr>
					<tr>
						<th>SEO关键字</th>
						<td>{$input[seokeywords]}</td>
					</tr>
					<tr>
						<th>SEO描述</th>
						<td>{$input[seodescription]}</td>
					</tr>

					{hook:admin_setting_seo.htm}

				</table>
				<div class="tb_b"><input type="submit" value="&#20445;&#23384;" class="but1" /></div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
twAjax.submit("form:first");
</script>
</body>
</html>
