<body>
<div class="wrap">
	<!--头部开始-->
	<div class="head cf">
		<div class="logo"><a href="{$tw[weburl]}"><img src="{$tw[tpl]}img/logo.gif" alt="{$tw[webname]}" title="{$tw[webname]}" /></a></div>
		<div class="search">
			<form id="search_form" method="get" action="{$tw[webdir]}index.php">
				<input type="hidden" name="u" value="search-index" />
				<select name="mid" class="s_set">
					{loop:$tw[mod_name] $v $k}<option value="{$k}"{if:isset($_GET['mid']) && $_GET['mid']==$k} selected="selected"{/if}>{$v}</option>{/loop}
				</select>
				<input class="s_tit" type="text" name="keyword" value="{$keyword}" />
				<input class="s_sub" type="submit" value="" />
			</form>
		</div>
	</div>
	<!--头部结束-->

	<!--导航开始-->
	{block:navigate}
	<div class="nav">
		<div class="n_p"></div>
		<div class="n_c">
			<dl{if:empty($tw_var['topcid'])} class="on"{/if}>
				<dt><a href="{$tw[weburl]}">首页</a></dt>
			</dl>
			{loop:$data $v}
			<dl{if:$tw_var['topcid'] == $v['cid']} class="on"{/if}>
				<dt><a href="{$v[url]}" target="{$v[target]}">{$v[name]}</a></dt>
				<dd>
					{loop:$v[son] $v2}<a href="{$v2[url]}" target="{$v2[target]}">{$v2[name]}</a>{/loop}
				</dd>
			</dl>
			{/loop}
		</div>
		<div class="n_n"></div>
		<dl class="n_hover"></dl>
	</div>
	{/block}
	<!--导航结束-->
