body,div,ul,li,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,input,textarea,table,select,form,label{margin:0;padding:0}
body{font:12px "Lucida Grande",Verdana,Arial,sans-serif}
ul{list-style:none}
a,a:visited{color:#077AC7;text-decoration:none}
a:hover{color:#BD0A01}
a:focus{outline:0}
img{border:0}
table{width:100%;border-collapse:collapse;border-spacing:0}

/*公共*/
.un{display:none}
.dis{display:block}
.cf:after{content:"";display:block;clear:both;height:0;overflow:hidden}
.cf{zoom:1}
.del,.del:visited{color:#BC0B0B}

/*表单*/
input[type="checkbox"],input[type="radio"]{vertical-align:text-top;margin-top:1px;*+vertical-align:middle}
textarea{display:block;line-height:18px;resize:none}
select{height:22px}
select,.inp{padding:2px;border:1px solid #8E8F8F;background:#FBFBFB;border-radius:3px}
.inp{padding:5px}
.mr3{margin-right:3px}

/*size*/
.se1{width:20em}
.se2{width:20em;height:12em}
.wnum{width:5em}
.w1{width:20em}
.w2{width:20em}
.w3{width:20em;height:10em}
.w4{width:30em}
.ws{width:7em;margin:0 5px}
.wa{width:20em;margin:0 17px 0 5px}
.wb{width:8em;margin:0 17px 0 5px}

/*按钮*/
.but1,.but2,.sele1{display:inline;float:left;margin-left:8px}
.but1{width:68px;height:22px;cursor:pointer;line-height:22px;color:#fff;font-weight:700;border:0;background:url(../img/bg.gif) -132px -92px no-repeat}
.but1:hover{background-position:-132px -114px}
.but2,.but3{height:20px;line-height:20px;/*高度有兼容性问题*/padding:0 8px;border:1px solid #94C5E5;background:url(../img/bg_x.gif) 0 -122px repeat-x}
.but2:hover,.but3:hover,.but_on{color:#BD0A01!important;background-position:0 -145px;border:1px solid #fdcd99}
.but3{display:inline-block}

.btn_ok{border:0;width:73px;height:25px;background:url(../img/btn.gif) no-repeat;margin-right:8px}
.btn_ok:hover{background-position:0 -26px}
.btn_cl{border:0;width:73px;height:25px;background:url(../img/btn.gif) -74px 0 no-repeat}
.btn_cl:hover{background-position:-74px -26px}

/*内容*/
.p .cc{line-height:1.6;padding:8px}
.p .cc .ajaxbox,.p .cc .warning{border-width:1px}

/*头部*/
.head{z-index:99;position:fixed;top:0;left:0;width:100%;height:26px;padding-top:5px;background:url(../img/bg_x.gif) #fff 0 30px repeat-x}
.head dl{height:26px;overflow:hidden;padding-left:8px}
.head dl .but1{margin:0 8px 0 0}
.head dl .sele1{margin:0;float:none}
.head dl dd{_display:inline;float:left;cursor:pointer;margin-right:6px;height:26px;line-height:26px;padding:0 8px;color:#077AC7;border-left:1px solid #9AC4DC;border-right:1px solid #9AC4DC;background:url(../img/bg_x.gif) 0 -4px repeat-x}
.head dl dd.on{background-position: 0 -33px}
.head dl dd.hover{background-position: 0 -62px}
.c2{margin-top:33px}

/*Ajax*/
.ajaxoverlay{position:fixed;top:0;left:0;right:0;bottom:0;z-index:1001;width:100%;height:100%;background:#aaa;filter:Alpha(opacity=30);opacity:0.3}
.ajaxtips{position:fixed;z-index:1002}
	.ajaximg{width:48px;height:48px;background:url(../img/load.gif) center no-repeat}
	.ajaxbox,.warning{border:3px solid #78C370;padding:8px;line-height:24px;border-radius:4px;box-shadow:2px 3px 6px #000;overflow:hidden}
	.ajaxbox i,.warning i{width:24px;height:24px;margin-right:8px;display:inline;float:left}
	.ajaxbox u{margin-left:8px;color:#00C;cursor:pointer}
	.bnote{border-color:#E9790B;background:#FFF5DE}
	.bnote i{background:url(../img/tips.gif) 0 -52px no-repeat}
	.btrue{background:#EEFFED}
	.btrue i{background:url(../img/tips.gif) 0 -26px no-repeat}
	.bfalse{border-color:#CD0A0A;background:#FEF1EC}
	.bfalse i{background:url(../img/tips.gif) no-repeat}
	.ajaxbox .cf{padding:5px 10px 0}
	.ajaxbox .cf .but3{float:right;margin-right:8px;padding:0 20px}
	.ajaxbox .cf .but1{float:right;margin-right:8px}

/*page*/
.page{margin-top:3px}
.page a,.page a:visited,.page b,.page span{border-radius:3px;display:inline;float:left;margin:5px 5px 0 0;padding:0 5px;height:20px;line-height:20px;font-family:Tahoma;font-size:12px;white-space:nowrap;border:1px solid #D1E5EC;background:#EEF7FC;color:#333}
.page a:hover{border:1px solid #38739F;background:#E5F3FF;color:#000;font-weight:400}
.page b{border:1px solid #97C3DE!important;background:#EEF7FC!important;color:red!important}

/*主题设置*/
.thm{display:inline;float:left;overflow:hidden;width:234px;padding:5px;margin:8px 8px 0 0;border:1px solid #CEE5F0;background:#F4F9FB;border-radius:4px}
.thm_x{border:1px solid #9AC4DC;background:#E5F0F6}
.thm .to{width:234px;height:162px;overflow:hidden;padding-bottom:4px;margin-bottom:2px;border-bottom:1px dotted #BCD8E8}
.thm .tu{width:234px;height:162px;border-radius:4px}
.thm .full{display:none;width:230px;height:158px;line-height:1.5;padding:2px;overflow:auto}
.thm .full b{display:block;padding-bottom:5px}
.thm h1,.thm .author,.thm .gsm{height:22px;line-height:22px;overflow:hidden;font-size:12px}
.thm .gsm{padding:3px 0 0}
.thm .gsm .but2{margin:0 8px 0 0}
.thmon{border:1px solid #CD0A0A;background:#FEF1EC}

/*插件*/
#plugin{padding-top:0}
.plu{border:1px solid #CEE5F0;background:#F4F9FB;border-radius:5px;padding:5px;margin-top:8px;transition:all .8s}
.plu:hover{border:1px solid #F0AD4E;background:#FFEDCE;box-shadow:-2px 2px 20px rgba(0, 0, 0, 0.25)}
.plu .plu_ico{width:64px;height:64px;background:url(../img/plugin.jpg);border-radius:5px;transition:all 1s}
.plu:hover .plu_ico{border-radius:15px;box-shadow:0 0 20px rgba(0, 0, 0, 0.25)}
.plu .plu_l,.plu .plu_c,.plu .plu_r{float:left;_display:inline;word-wrap:break-word}
.plu .plu_c{margin-left:10px;width:200px}
.plu .plu_r{margin-left:10px;width:600px}
.plu .plu_r b{padding-right:10px;font-weight:400;display:block;float:left;height:22px;line-height:22px}
.plu_cont{height:38px;line-height:18px;overflow:hidden}
.plu_b{font-weight:bold}
.plu_i{color:#555}
.plu_bottom{margin-top:4px;height:22px;line-height:22px}
.plu_bottom .but2{margin:0 8px 0 0}

/*表格1*/
.tb{width:96%}
.tb .th{width:80px;vertical-align:middle;text-align:right;color:#077AC7;font-weight:400}
.tb .th b{color:red;padding-right:3px}
.tb .th,.tb .col{padding:8px;line-height:20px}
.tb .col .desc{margin-top:4px;color:#666}
.tb_t{height:26px;line-height:26px;font-weight:bold;color:#077AC7;text-align:left;text-indent:5px;background:#F2F9FB;border-left:3px solid #D0E6EC}
.tb_b{height:22px;padding:7px 0 0 95px;border-top:1px dashed #D0E6EC;overflow:hidden}

/*表格2*/
.tb2 .tit{background:url(../img/bg_x.gif) 0 -91px repeat-x}
.tb2 .tit .th{height:27px;border:1px solid #D0E6EC;text-align:left;padding:0 5px}
.tb2 .tit .bdr_3{border-left:1px solid #D0E6EC}
.tb2 .li .col,.tb2 .li .th,.tb2 .tit2 .th{padding:5px 6px;line-height:20px;border-bottom:1px dotted #D0E6EC;text-align:left;word-wrap:break-word;word-break:break-all}
.tb2 .tit2 .th{border-top:1px solid #D0E6EC;border-bottom:1px solid #D0E6EC;background:#FFFFCC}
.tb2 .li:hover{background:#FFFFBB}
.tb2 .li .t_c{text-align:center}

/*home*/
#homel{float:left;width:49%;min-height:600px}
#homer{float:right;width:49%;min-height:600px}
.sort{border:1px solid #9AC4DC;margin-top:8px;border-radius:5px}
.sort h1{line-height:27px;text-indent:8px;border-bottom:1px solid #9AC4DC;color:#077AC7;border-radius:5px 5px 0 0;font-size:12px;background:url(../img/bg_x.gif) 0 -91px repeat-x}
.sort .sc{min-height:192px;_height:192px;padding:5px 0}
.sort .sc li{line-height:23px;padding:0 12px;border-bottom:1px dashed #DEEFFB}
.sort .sc li b{display:inline-block;width:60px}
.sort .sc li a{margin-right:8px}
.sort .sc li span{float:right}
.sort .sc dd{float:left}
.sort .sc dd a{display:block;width:64px;text-align:center;margin-left:8px;padding:3px;border-radius:5px;border:1px solid #fff}
.sort .sc dd a:hover{border:1px solid #9AC4DC;background:#DEEFFB}
.sort .sc dd a img{display:block;width:64px;margin:0 auto 4px;border-radius:5px}
#browser{float:none}

/*分类*/
.category dl{width:100%;overflow:hidden;border-bottom:1px solid #B4DBF2}
.category dl dd{overflow:hidden;float:left;height:36px;line-height:36px}
.category .cat_tit{background:#E3F1F4}
.category .cat_tit dd{font-weight:bold}
.cat_t_1,.cat_c_1{width:60%}
.cat_t_2,.cat_c_2{width:20%}
.cat_t_3,.cat_c_3{width:10%}
.cat_t_4,.cat_c_4{width:9%;float:right!important}
.cat_c_1{position:relative}
.cat_c_1 .more_but{position:absolute;right:8px;top:8px;width:160px}
.cat_c_1 .mtype{background:#3A87AD;padding:3px 4px;_padding:4px 4px 2px;margin-right:5px;font-weight:bold;color:#fff;white-space:nowrap;border-radius:3px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25)}
.cat_c_1 .type1{background:#999}
.cat_c_1 .c_name,.cat_c_2 .c_alias{width:95%;line-height:36px;overflow:hidden;word-wrap:break-word}
.cat_c_3 input{_margin-top:4px}

/*内容发布*/
#tw_pic_upfile,#tw_img_upfile{display:none;opacity:0;filter:alpha(opacity=0)}
.contadd #tw_pic_img{border:1px solid #ccc;padding:3px;border-radius:5px}
.contadd #tw_dropbox{width:100%;min-height:120px;padding:0 5px 5px 0;border:3px dashed #E5E5E5}
.contadd #tw_dropbox .d_li{width:120px;height:120px;float:left;margin:5px 0 0 5px;border:1px solid #ccc}
.contadd #tw_dropbox .d_li .d_img{height:100px;overflow:hidden}
.contadd #tw_dropbox .d_li .d_img img{display:block;margin:auto}
.contadd #tw_dropbox .d_li .d_txt textarea{display:block;width:118px;height:18px;overflow:hidden;border:none;border-top:1px solid #ccc}
.contadd #tw_imgup div{font:14px/18px helvetica,arial,sans-serif;padding-top:20px;text-align:center;color:#D30D12}
.contadd .picimg{height:108px}
.contadd .picimg img{height:100px}
.contadd .picbut{margin-top:8px}
.contadd #imgs{display:none}
.contadd .w98{width:98%}
.contadd .tl .th{width:50px}
.contadd .addition{border:1px solid #D4D4D4;border-radius:3px;background:#FCF8E3;margin-top:10px;width:98%;padding:5px}

/*工具*/
.marginbot{margin:8px}
.marginbot li{line-height:24px}

/*dialog*/
#twdialog{position:fixed;top:0;left:0;z-index:1001;width:0;height:0;display:none}
#twdialog #twoverlay{position:absolute;top:0;left:0;width:100%;height:100%;background:#aaa;filter:Alpha(opacity=30);opacity:0.3}
#twdialog #twdialogbox{width:500px;height:300px;background:#fff;border:1px solid #2C82FC;border-radius:4px;position:absolute;top:0;left:0}
#twdialog_title{height:30px;line-height:30px;border-bottom:1px solid #2C82FC;border-radius:4px 4px 0 0;padding:0 5px 0 10px;cursor:move}
#twdialog_title span{float:left;display:inline;font-weight:bold;font-size:13px;color:#222}
#twdialog_title a{float:right;display:inline;margin-top:5px;text-indent:-99px;width:21px;height:20px;overflow:hidden;background:url(../img/dialog.gif) -21px 0 no-repeat}
#twdialog_title a:hover{background-position:-42px 0}
#twdialog_content{position:absolute;top:31px;bottom:32px;width:100%;overflow:auto}
#twdialog_button{position:absolute;bottom:0;width:100%;height:27px;padding-top:5px;border-top:1px solid #2C82FC;border-radius:0 0 4px 4px}
#twdialog_title,#twdialog_button{background:#D9EBEE;background:-webkit-linear-gradient(top,#EDF5F7,#D9EBEE);background:-moz-linear-gradient(top,#EDF5F7,#D9EBEE);background:-o-linear-gradient(top,#EDF5F7,#D9EBEE)}
#twdialog_resizable_n{cursor:n-resize;z-index:900;position:absolute;left:0;top:-5px;width:100%;height:8px}
#twdialog_resizable_e{cursor:e-resize;z-index:900;position:absolute;right:-5px;top:0;width:8px;height:100%}
#twdialog_resizable_s{cursor:s-resize;z-index:900;position:absolute;left:0;bottom:-5px;width:100%;height:8px}
#twdialog_resizable_w{cursor:w-resize;z-index:900;position:absolute;left:-5px;top:0;width:8px;height:100%}
#twdialog_resizable_nw{cursor:nw-resize;z-index:901;position:absolute;left:-5px;top:-5px;width:10px;height:10px}
#twdialog_resizable_ne{cursor:ne-resize;z-index:901;position:absolute;right:-5px;top:-5px;width:10px;height:10px}
#twdialog_resizable_sw{cursor:sw-resize;z-index:901;position:absolute;left:-5px;bottom:-5px;width:10px;height:10px}
#twdialog_resizable_se{cursor:se-resize;z-index:901;position:absolute;right:-5px;bottom:-5px;width:17px;height:17px;background:url(../img/dialog.gif) no-repeat}

/*ie6*/
body{_background:url(about:blank)}
.head,.ajaxoverlay,.ajaxtips,#twdialog{_position:absolute;_top:expression(eval(document.documentElement.scrollTop))}
